.detailContainer {
    background: linear-gradient(#1b1b4d, #cceef7);
    color: white;
    padding: 6rem 1rem;
    font-size: 100px;
    width: 80vw;
    height: 70vw;
    margin: auto;
    text-align: center;
}


.detailContainer-image {
    outline: 12px;
    width: 50%;
    margin: auto;
}

.detailContainer-image img {
    border-radius: 10px;
    max-width: 40vw;
    object-fit: contain;
}

.detailContainer-description {
    font-family: Inter, sans-serif;

}

.detailContainer-description h2 {
    font-weight: 700;
    font-size: 80px;
}

.detailContainer-description div {
    font-size: 35px;
    display: flex;
    align-self:flex-start;
    padding-left: 200px;
    height: 60px;
}

.detailContainer-description div span {
    color: #e9ff23;
}

.detailContainer-description-temperaments {
    margin-right: 250px;
}